<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.AccountsDAO">

    <insert id="signUp" parameterType="com.festa.dto.SignUpDTO">
        INSERT INTO
            USERINFO
                (username,
                userID,
                password,
                email,
                phoneNo,
                address,
                userLevel
                )
        VALUES
            (#{username},
            #{password},
            #{email},
            #{phoneNo},
            #{address},
            #{userLevel})
    </insert>

    <select id="getUserInfoForLogin" parameterType="com.festa.dto.LoginDTO">
        SELECT
            userID,
            userLevel
        FROM USERINFO
        WHERE
            userID = #{userID}
            AND password = #{password}
    </select>

    <select id="existedEmail" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            SELECT email
            FROM USERINFO
            WHERE
            email = #{email}
        )
    </select>

    <select id="existedID" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            SELECT userID
            FROM USERINFO
            WHERE
            userID = #{userID}
        )
    </select>

</mapper>