<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.AlertDAO">

    <select id="sendChangePwNotice" resultType="com.festa.dto.AlertDTO">
        SELECT
              userId,
              title,
              content,
              pwLastModified
        FROM notice
        WHERE userId = #{userId}
    </select>
</mapper>