<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.EventDAO">

    <select id="getListOfEvents" resultType="com.festa.dao.EventDTO">
        SELECT
            A.eventTitle,
            A.eventContent,
            A.startDate,
            A.endDate,
            A.registerDate,
            A.participantLimit,
            B.cityName,
            B.districtName,
            B.streetName,
            B.detail,
            B.writer
        FROM events AS A
        JOIN
            (SELECT
                E.userNo,
                E.eventNo,
                E.eventTitle,
                E.eventContent,
                E.startDate,
                E.endDate,
                E.registerDate,
                E.participantLimit,
                EA.cityName,
                EA.districtName,
                EA.streetName,
                EA.detail,
                M.userName AS writer
             FROM events E
             LEFT OUTER JOIN event_address EA
             ON EA.eventNo = E.eventNo
             INNER JOIN members M
             ON E.userNo = M.userNo
             WHERE E.userNo <![CDATA[<]]> #{PageInfo.cursorUserNo}
             ORDER BY registerDate DESC
             LIMIT #{PageInfo.size}
            ) AS B
        WHERE A.eventNo = B.eventNo

    </select>

    <insert id="applyForEvents" parameterType="com.festa.model.Participants">
        INSERT INTO
            participant
            (eventNo,
             userNo,
             applyDate,
             cancelDate,
             participateDate
            )
            VALUES
            (
             #{eventNo},
             #{userNo},
             NOW(),
             NULL,
             NOW()
            )
    </insert>

    <update id="cancelEvent" parameterType="long">
        UPDATE participant
        SET cancelDate = NOW()
        WHERE userNo = #{userNo}
        AND applyDate IS NOT NULL
    </update>
    
    <update id="reduceParticipants" parameterType="int">
        UPDATE events
        SET noOfParticipants = noOfParticipants - 1
        WHERE eventNo = #{eventNo}
        AND noOfParticipants <![CDATA[<]]> participantLimit
    </update>
</mapper>