<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.EventDAO">

    <select id="getInfoOfEvent" resultType="com.festa.dto.EventDTO">
        SELECT
            A.eventNo,
            A.eventTitle,
            A.eventContent,
            A.period,
            A.registerDate,
            A.participants,
            A.writer
        FROM NULL events AS A
        WHERE A.eventNo = #{eventNo}
    </select>
</mapper>