<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.EventDAO">

    <select id="getInfoOfEvent" resultType="com.festa.dto.EventDTO">
        SELECT
            E.eventNo,
            E.eventTitle,
            E.eventContent,
            E.startDate,
            E.endDate,
            E.registerDate,
            E.participantLimit,
            E.noOfParticipants,
            M.userNo,
            M.userName AS writer
        FROM events E
        INNER JOIN members M
        WHERE E.userNo = M.userNo
          AND E.eventNo = #{eventNo}
    </select>

    <select id="getListOfEvents" resultType="com.festa.dto.EventDTO">
        SELECT
            E.userNo,
            E.eventNo,
            E.eventTitle,
            E.eventContent,
            E.startDate,
            E.endDate,
            E.categoryCode,
            E.participantLimit,
            E.noOfParticipants,
            E.registerDate,
            EA.cityName,
            EA.districtName,
            EA.streetCode,
            EA.streetName,
            EA.detail,
            M.userName AS writer
        FROM events E
        INNER JOIN event_address EA
            ON EA.eventNo = E.eventNo
        <if test=" categoryCode != 0 ">
            AND E.categoryCode = #{categoryCode}
        </if>
        INNER JOIN members M
            ON E.userNo = M.userNo
        WHERE E.userNo <![CDATA[<]]> #{pageInfo.cursorUserNo}
        ORDER BY EA.eventNo DESC
        LIMIT #{pageInfo.size}
    </select>

    <select id="checkNoOfParticipants" resultType="com.festa.dto.EventDTO">
        SELECT
            noOfParticipants,
            participantLimit
        FROM events
        WHERE eventNo = #{eventNo}

    </select>

    <select id="isParticipated" parameterType="com.festa.model.Participants" resultType="boolean">
        SELECT EXISTS
                (SELECT applyDate
                 FROM participant
                 WHERE userNo = #{userNo}
                 AND eventNo = #{eventNo}
                 AND cancelDate IS NULL
                )
                AS isIdExists
    </select>

    <select id="isEventExists" resultType="boolean">
        SELECT EXISTS
                   (SELECT eventTitle,
                           startDate
                    FROM events
                    WHERE eventTitle = #{eventTitle}
                      AND startDate  = #{startDate}
                   )
                   AS isEventExists
    </select>

    <select id="getAppliedEvent" resultType="long">
        SELECT
            eventNo
        FROM participant
        WHERE userNo = #{userNo}
    </select>

    <select id="getParticipantList" resultType="com.festa.model.Participants">
        SELECT
            P.eventNo,
            P.userNo,
            M.userName,
            PA.cityName,
            PA.districtName,
            PA.streetCode,
            PA.streetName,
            PA.detail,
            P.applyDate,
            P.cancelDate,
            P.participateDate
        FROM participant P
        INNER JOIN participant_address PA
        on P.eventNo = PA.eventNo
        and P.userNo = PA.userNo
        INNER JOIN members M
        on P.userNo = M.userNo
        WHERE P.eventNo = #{eventNo}
    </select>

    <insert id="applyForEvents" parameterType="com.festa.model.Participants">
        INSERT INTO
            participant
            (eventNo,
             userNo,
             applyDate,
             cancelDate,
             participateDate
            )
        VALUES
            (
             #{eventNo},
             #{userNo},
             NOW(),
             NULL,
             NOW()
            )
    </insert>

    <insert id="insertParticipantAddress" parameterType="com.festa.model.Participants">
        INSERT INTO
            participant_address
            (userNo,
             eventNo,
             cityName,
             districtName,
             streetCode,
             streetName,
             detail
             )
        VALUES
             (
             #{userNo},
             #{eventNo},
             #{cityName},
             #{districtName},
             #{streetCode},
             #{streetName},
             #{detail}
             )
    </insert>

    <insert id="registerEvents" parameterType="com.festa.dto.EventDTO" useGeneratedKeys="true" keyProperty="eventNo">
        INSERT INTO
            events
            (eventTitle,
             eventContent,
             registerDate,
             userNo,
             categoryCode,
             startDate,
             endDate,
             participantLimit,
             noOfParticipants
             )
        VALUES
             (
              #{eventTitle},
              #{eventContent},
              NOW(),
              #{userNo},
              #{categoryCode},
              #{startDate},
              #{endDate},
              #{participantLimit},
              #{participantLimit}
             )

    </insert>

    <insert id="registerEventsAddress" parameterType="com.festa.dto.EventDTO">
        INSERT INTO
            event_address
            (eventNo,
             cityName,
             districtName,
             streetCode,
             detail,
             streetName
             )
        VALUES
             (
              #{eventNo},
              #{cityName},
              #{districtName},
              #{streetCode},
              #{detail},
              #{streetName}
             )
    </insert>

    <update id="modifyEventsInfo" parameterType="com.festa.dto.EventDTO">
        UPDATE events
            SET eventTitle = #{eventTitle},
                eventContent = #{eventContent}
        WHERE eventNo = #{eventNo}
    </update>

    <update id="modifyEventsAddress" parameterType="com.festa.dto.EventDTO">
        UPDATE event_address
            SET cityName = #{cityName},
                districtName = #{districtName},
                streetCode = #{streetCode},
                streetName = #{streetName},
                detail = #{detail}
        WHERE eventNo = #{eventNo}
    </update>

    <update id="cancelEvent" parameterType="com.festa.model.Participants">
        UPDATE participant
            SET cancelDate = NOW()
        WHERE userNo = #{userNo}
            AND eventNo = #{eventNo}
            AND applyDate IS NOT NULL
    </update>

    <update id="increaseParticipants" parameterType="int">
        UPDATE events
            SET noOfParticipants = noOfParticipants + 1
        WHERE eventNo = #{eventNo}
            AND noOfParticipants <![CDATA[<]]> participantLimit
    </update>

    <update id="reduceParticipants" parameterType="long">
        UPDATE events
            SET noOfParticipants = noOfParticipants - 1
        WHERE eventNo = #{eventNo}
            AND noOfParticipants <![CDATA[<=]]> participantLimit
    </update>

    <delete id="deleteEvent" parameterType="long">
        DELETE
        FROM events
        WHERE eventNo = #{eventNo}
    </delete>

    <delete id="deleteEventAddress" parameterType="long">
        DELETE
        FROM event_address
        WHERE eventNo = #{eventNo}
    </delete>
</mapper>