<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.MemberDAO">

    <insert id="insertMemberInfo" parameterType="com.festa.dto.MemberDTO">
        INSERT INTO
            members
            ( userId,
              userName,
              password,
              email,
              phoneNo,
              addressNo,
              userLevel,
              deleted,
              deletedDate
        )
        VALUES
            ( #{userId},
              #{username},
              #{password},
              #{email},
              #{phoneNo},
              #{address},
              #{userLevel},
              FALSE,
              null
            )
    </insert>

    <!-- EXISTS()에서 true는 Alias가 1로, false는 Alias가 0으로 되어있다.  -->
    <select id="isUserIdExist" resultType="boolean">
        SELECT EXISTS
                   (SELECT userId
                    FROM members
                    WHERE userId = #{userId}
                    AND deleted = FALSE
                   )
                   AS isIdExists
    </select>

    <update id="modifyMemberInfo" parameterType="com.festa.dto.MemberDTO">
        UPDATE members
        SET username = #{username}
        AND phoneNo  = #{phoneNo}
        WHERE userid = #{userId};
    </update>

    <update id="modifyMemberAddress" parameterType="com.festa.dto.MemberDTO">
        UPDATE member_address
        SET cityName = #{cityName}
        AND districtName = #{districtName}
        AND streetName = #{streetName}
        WHERE userNo = #{userNo}
    </update>

    <update id="changeUserPw" parameterType="com.festa.dto.MemberDTO">
        UPDATE members
        SET password = #{password}
        AND updatePwDate = NOW()
        WHERE userNo = #{userNo}
    </update>

    <select id="getUserById" resultType="com.festa.dto.MemberDTO">
        SELECT
            M.userId,
            M.userName,
            M.password,
            M.email,
            M.phoneNo,
            MA.cityName,
            MA.districtName,
            MA.streetName,
            M.userLevel,
            M.deleted,
            M.deletedDate
        FROM members M
        LEFT OUTER JOIN member_address MA
        ON M.userNo = MA.userNo
        WHERE userId = #{userId}
        AND M.userNo = #{userNo}
        AND M.deleted = FALSE
    </select>

    <update id="modifyMemberInfoForWithdraw" parameterType="com.festa.dto.MemberDTO">
        UPDATE members
        SET deleted = TRUE
        AND deletedDate = NOW()
        WHERE userNo = #{userNo};
    </update>
</mapper>