<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.festa.dao.MemberDAO">

    <insert id="insertMemberInfo" parameterType="com.festa.dto.MemberDTO">
        INSERT INTO
            members
            ( userId,
              username,
              password,
              email,
              confirmEmail,
              phoneNo,
              address,
              userLevel
        )
        VALUES
            ( #{userId},
              #{username},
              #{password},
              #{email},
              #{confirmEmail},
              #{phoneNo},
              #{address},
              #{userLevel}
            )
    </insert>

    <!-- EXISTS()에서 true는 Alias가 1로, false는 Alias가 0으로 되어있다.  -->
    <select id="isUserIdExist" resultType="boolean">
        SELECT EXISTS
                   (SELECT userId
                    FROM members
                    WHERE userId = #{userId}
                   )
                   AS isIdExists
    </select>

    <update id="modifyMemberInfo" parameterType="com.festa.dto.MemberDTO">
        UPDATE members
        SET username = #{username}
        AND phoneNo  = #{phoneNo}
        AND address  = #{address}
        WHERE userNo = #{userNo};
    </update>

    <update id="changeUserPw" parameterType="com.festa.dto.MemberDTO">
        UPDATE members
        SET password = #{password}
        AND updatePwDate = NOW()
        WHERE userNo = #{userNo}
    </update>

    <select id="getUserByNo" resultType="com.festa.dto.MemberDTO">
        SELECT
            userNo,
            userId,
            username,
            password,
            email,
            confirmEmail,
            userLevel,
            phoneNo,
            address
        FROM members
        WHERE userNo = #{userNo}
    </select>

    <update id="modifyMemberInfoForWithdraw" parameterType="com.festa.dto.MemberDTO">
        UPDATE members
        SET memberWithdraw = TRUE
        AND memberWithdrawDate = NOW()
        WHERE userNo = #{userNo};
    </update>

    <select id="getUserNoById" resultType="int">
        SELECT
            userNo
        FROM members
        WHERE
            userId = #{userId}
        AND memberWithdraw = FALSE
    </select>
</mapper>
